@import url('http://fonts.cdnfonts.com/css/tisa-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Raleway:wght@400;800&display=swap');

body{
    background: #a5120d;
}

.Content{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#LupaEmoji{
    display: flex;
    padding-left: 2%;
    width: 6%;
    height: 6%;
}


#InputAreaCourses{
    display: inline-block;
    border: none;
    font-size: 150%;
    width: 100%;
    max-width: 600px;
    padding: 10px 10px 10px 10px;
    margin:5px;
    background-color: #00000000;
    transition-duration: 2s;
}

#TextoTitu{
    font-size: 270%;
    font-weight: 800;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

#TextoAuxilio{
    font-size: 220%;
    font-weight: 500;
    margin-bottom: 10px;
    
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.SearchAreaDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border: solid 1px;
    margin: auto;
    border-radius: 5px;
    max-width: 700px;
    align-items: center;
    background-color: #FFFFFF;
    
}

.btnContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#botoes{
    position: relative;
    display: block;
    width: 39vh;
    height: 30px;
    padding: 0px 30px 0px 25px;
    margin: 5px 15px 5px 15px;
    background-color: #fff;
    border: solid 1px #ce160f;
    color: #ce160f;
    font-size: 120%;
    text-transform: uppercase;
    transition-duration: 0.3s;
}


#botoes:hover{
    color: #000000;
    letter-spacing: 1px;
    background-color: #ce160f;
    cursor: pointer;
}

#botoes:active{
    transition-duration: 0.1s;
    color: #FFFFFF;
}

.resultados_cursos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#div_curso{
    display: inline;
    width: 200px;
    height: 320px;
    padding: 0px 5px 0px 15px;
    margin: 0px 15px 10px 15px;
    background-color: #FFFFFF;
    border-radius: 10px; 
    font-family: 'Tisa Sans Pro', sans-serif;
    transition-duration: 0.3s;
}

#div_curso:hover{
    transform: translate(0px, -5px);
    
    box-shadow: 3px 3px 5px #000000;
    transition-duration: 0.3s;
}

.curso, .curso_nome{
    color: #000000;
    font-size: 17px;
    margin: 3px 0px 10px 0px;
}

#curso_nome{
    margin: 5px 0px 12px 0px;
    font-size: 19px;
    font-weight: 600;
}

a{
    text-decoration: none;
}