@import url('http://fonts.cdnfonts.com/css/tisa-sans-pro');

body{
    background: #df5a58;
}

#LupaEmoji{
    display: flex;
    padding-left: 2%;
    width: 6%;
    height: 6%;
}



.SearchArea{
    background-color: #fff;
}



.tableTlt{
    font-family: 'Tisa Sans Pro', sans-serif;
    font-size: large;
    padding-bottom: 25px;
    padding-right: 200px;
}

table{
    background-color: #fff;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 30px black;
}


.lista{
    font-family: 'Tisa Sans Pro', sans-serif;
    font-size: large;
    padding-right: 10px;
    padding-top: 10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#carga{
    width: 10%;
    text-align: center;
}

#InputAreaCourses{
    display: inline-block;
    border: none;
    font-size: 150%;
    width: 100%;
    max-width: 600px;
    padding: 10px 10px 10px 10px;
    margin:5px;
    background-color: #FFFFFF;
    transition-duration: 2s;
}

#TextoTitu{
    font-size: 270%;
    font-weight: 800;
    margin-bottom: 20px;
}

#TextoAuxilio{
    font-size: 220%;
    font-weight: 500;
    margin-bottom: 10px;
}

.SearchAreaDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border: solid 1px;
    border-radius: 5px;
    max-width: 700px;
    align-items: center;
    background-color: #FFFFFF;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#botoes{
    position: relative;
    display: block;
    padding: 0px 30px 0px 25px;
    margin: 5px 15px 5px 15px;
    background-color: #fff;
    border: solid 1px #ce160f;
    color: #ce160f;
    font-size: 120%;
    text-transform: uppercase;
    transition-duration: 0.6s;
}


#botoes:hover{
    color: #000000;
    letter-spacing: 2px;
    background-color: #ce160f;
    padding: 0px 20px 0px 20px;
    margin: 8px 20px 8px 10px;
    cursor: pointer;
}

#botoes:active{
    color: #FFFFFF;
}

.resultados_cursos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div_curso{
    display: inline;
    width: 150px;
    height: 300px;
    padding: 20px 30px 20px 30px; 
}

a{
    text-decoration: none;
}

p{
    color: #000000;
}