@import url('http://fonts.cdnfonts.com/css/tisa-sans-pro');


body{
    background: #810e0a;
    clip-path: circle(77.7% at 29% 0);
}

#container{
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    
}

#box{
    border-radius: 20px;
    width: 500px;
    height: 450px;
    background: #fff;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    font-family: 'Tisa Sans Pro', sans-serif;
    font-size: large;
    
}

.titulo{
    justify-content: center;
	display: flex;
}

input{
    color: #b61e13;
    border-radius: 7px;
    height: 50px;
    width: 400px;
	justify-content: center;
	display: flex;
    font-size: larger;
    font-weight: 500;
	cursor: pointer;
	transition: .5s ease-out;
    margin-top: 15px;
    margin-left: 20px;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemLogo{
    height: 80px;
    width: 80px;
    padding-top: 5px;
    
}

.botoes{
    background: #e62011;
    border: 0 solid rgb(0, 0, 0);
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    box-shadow: 0px 1px 1px #810e0a;
    color: #fff;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    
}

.botoes:hover{
    background: #b61e13;
    border: 1px solid;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}

.botoes:active{
    width: 110px;
    height: 40px;
}


.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxpopup{
    border-radius: 20px;
    width: 500px;
    height: 550px;
    background: rgb(255, 255, 255);
}
