body{
    background-color: #AF2D11;

}

.container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: flow;
}

.box{
    
    width: 350px;
    height: 350px;
    background: #fff;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    padding-left: 10px;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemLogo{
    height: 50px;
    width: 50px;
    padding-top: 5px;
    
}

.botoes{
    background-color: #f44336;
    border: none;
    color: #fff;
    width: 80px;
    padding: 10px 5px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}