@import url('http://fonts.cdnfonts.com/css/tisa-sans-pro');

body{
    background: #a5120d;
}

#container{
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}

#bgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -1;
    top: 10%;
    height: 80%;
    width: 100%;
}


img{
    max-width: 100%;
    max-height: 100%;
}

#box{
    border-radius: 20px;
    width: 500px;
    height: 450px;
    background: #fff;
    box-shadow: 0px 0px 15px #111111;
    opacity: 0.93;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}

.texto{
    font-family: 'Tisa Sans Pro', sans-serif;
    font-size: large;
    
}

.titulo{
    justify-content: center;
	display: flex;
    text-align: center;
}

.loginInput{
    padding-left: 5px;
}

input{
    color: black;
    border: none;
    border-bottom: 1px solid black;
    height: 50px;
    width: 400px;
	justify-content: center;
	display: flex;
    font-size: larger;
    font-weight: 500;
	cursor: pointer;
    margin-top: 15px;
    margin-left: 20px;
    transition: border 2s ease-in;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemLogo{
    height: 80px;
    width: 80px;
    padding-top: 5px;
    
}

.botoes{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    font-size: 100%;
    position: relative;
    display: block;
    background-color: #da413b;
    box-shadow: 2px 2px 5px #474747;
    border: 1px solid #942a26;
    border-radius: 4px;
    color: #bbbbbb;
    text-transform: uppercase;
    transition-duration: 0.5s;
    cursor: pointer;
    
}

.botoes:hover{
    background: #b1322d;
    color: #FFFFFF;
    box-shadow: 2px 2px 5px #9c9c9c;
    font-weight: 400;
}

#btnredreg{
    margin-top: 20px;
    width: 160px;
    height: 30px
    
}

.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxpopup{
    border-radius: 20px;
    width: 500px;
    height: 600px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px #111111;
    opacity: 0.93;
}
